.diary-entry-form {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  align-items: start;
  border-radius: 12px;
  margin: 2rem 0;
  padding: 1rem;
  gap: 0.5rem;
}

.diary-entry-form button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

#notification-message {
  color: red;
  font-size: 1.2rem;
}